.primaryButton {
    background-color: var(--primary-color) !important;
    text-transform: none !important;
    font-weight: 400 !important;
    box-shadow: none !important;
    border-radius: 8px !important;
    color: var(--white-color) !important;

    &:disabled {
        opacity: 0.6;
    }
}

.secondaryButton {
    border: 1px solid var(--grey-color) !important;
    background-color: var(--white-color) !important;
    text-transform: none !important;
    font-weight: 400 !important;
    box-shadow: none !important;
    border-radius: 8px !important;
    color: var(--grey-text) !important;
}