:root {
    --primary-color: #7071f3;
    --primary-dark-color: #2f2f66;
    --variant-color: #12ffe2;
    --grey-color: #e6e8ec;
    --white-color: #ffffff;
    --grey-text: #55687d;
    --black-text: #01152b;
}