.header {
    background: #fff;
    padding: 20px 32px;
    box-shadow: 0 2px 8px 0 rgba(2, 29, 61, 0.12);
}

.headerContent {
    display: flex;
    align-items: center;
}

.headerContent img {
    height: 16px;
}
